For T20I

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import pickle
from xgboost import XGBRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import r2_score,mean_absolute_error

In [2]:
df = pickle.load(open('Preprocessing\T20I\dataset_final.pkl','rb'))
df.head()

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
59064,Pakistan,Australia,Birmingham,37,88,9,6.937500,37.0,162
14730,Pakistan,England,Manchester,64,73,8,8.170213,38.0,190
76889,South Africa,Bangladesh,Mirpur,68,75,10,9.066667,41.0,169
32500,New Zealand,Pakistan,Christchurch,143,5,3,7.460870,45.0,147
72163,New Zealand,Bangladesh,Mirpur,79,68,9,9.115385,37.0,204

In [3]:
X = df.drop(columns=['runs_x'])
y = df['runs_x']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=42)

In [4]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
],remainder='passthrough')

In [5]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3', XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=16, random_state=42))
])

In [6]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9862307906150818
1.8783674240112305

In [7]:
pickle.dump(pipe,open('t20i.pkl','wb'))

For ODIs

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import pickle
from xgboost import XGBRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import r2_score,mean_absolute_error

In [9]:
df = pickle.load(open('Preprocessing\ODI\dataset_final.pkl','rb'))
df.head()

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
151902,Sri Lanka,England,London,166,0,9,6.225000,44.0,319
18178,Australia,England,Melbourne,156,0,7,5.348571,31.0,304
407727,Pakistan,Sri Lanka,Dambulla,161,0,3,3.577778,26.0,199
293775,Sri Lanka,New Zealand,Rangiri,121,0,8,4.453988,26.0,203
358907,Australia,West Indies,St George's,140,0,5,4.038462,15.0,247

In [10]:
X = df.drop(columns=['runs_x'])
y = df['runs_x']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=42)

In [11]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
],remainder='passthrough')

In [12]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3', XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=16, random_state=42))
])

In [13]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9885841608047485
2.5144143104553223

In [14]:
pickle.dump(pipe,open('odi.pkl','wb'))